<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KryptKeeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <KryptKeeper.Properties.Settings>
            <setting name="encryptionType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="encryptionKeyType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="decryptionKey" serializeAs="String">
                <value />
            </setting>
            <setting name="decryptionKeyType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="encryptionKey" serializeAs="String">
                <value />
            </setting>
            <setting name="decryptionType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fileListColumns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Name</string>
                        <string>Extension</string>
                        <string>Size</string>
                        <string>Path</string>
                        <string>MD5</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="fileListColumnWidths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>60</string>
                        <string>60</string>
                        <string>60</string>
                        <string>60</string>
                        <string>60</string>
                    </ArrayOfString>
                </value>
            </setting>
        </KryptKeeper.Properties.Settings>
    </userSettings>
</configuration>