<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KryptKeeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <KryptKeeper.Properties.Settings>
            <setting name="cipherKeyType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="cipherKey" serializeAs="String">
                <value />
            </setting>
            <setting name="fileListColumnWidths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>60</string>
                        <string>60</string>
                        <string>60</string>
                        <string>60</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="encryptionMaskInformation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="encryptionMaskInfoType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="encryptionRemoveAfterEncrypt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rememberSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="confirmOnExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveKey" serializeAs="String">
                <value>True</value>
            </setting>
        </KryptKeeper.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>