<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KryptKeeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <KryptKeeper.Properties.Settings>
            <setting name="encryptionKeyType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="decryptionKey" serializeAs="String">
                <value />
            </setting>
            <setting name="decryptionKeyType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="encryptionKey" serializeAs="String">
                <value />
            </setting>
            <setting name="fileListColumnWidths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>60</string>
                        <string>60</string>
                        <string>60</string>
                        <string>60</string>
                        <string>60</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="algorithms" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>AES</string>
                        <string>Rijndael</string>
                        <string>DES</string>
                        <string>RC2</string>
                        <string>TripleDES</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="decryptionAlgorithm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="encryptionAlgorithm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useEncryptionSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="encryptionMaskInformation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="encryptionMaskInfoType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="encryptionRemoveAfterEncrypt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rememberSettings" serializeAs="String">
                <value>False</value>
            </setting>
        </KryptKeeper.Properties.Settings>
    </userSettings>
</configuration>